app:
  user:
    name: admin
    password: admin
    grantType: password
  url:
    base: http://localhost:8080
    token: ${app.url.base}/oauth/token
    api: ${app.url.base}/api
    user: ${app.url.api}/users
  client:
    clientId: ClientId
    secret: secret
logging:
  level:
    org:
      springframework:
        web:
          client:
            RestTemplate: DEBUG
security:
  token:
    ttl: 3600
spring:

  main:
    web-application-type: none