app:
  user:
    name: admin
    password: admin
    grantType: password
  url:
    base: http://localhost:8080
    token: ${app.url.base}/oauth/token
    api: ${app.url.base}/api
    airports: ${app.url.api}/airports
    flights: ${app.url.api}/flights
    passengers: ${app.url.api}/passengers
    reservations: ${app.url.api}/reservations
    user: ${app.url.api}/users
    weather: ${app.url.api}/weather
  client:
    clientId: ClientId
    secret: secret
security:
  token:
    ttl: PT1H
spring:
  main:
    web-application-type: none